html {
  background-color: black;
}

.App {
  text-align: center;
  margin: 0;
  color: red;
  height: 100vh;
}

.App h1 {
  margin: 0;
  padding: 10px;
}

.tier {
  text-transform: capitalize;
}

.movie {
  color: white;
  margin: 10px auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  text-align: left;
}

.movie h2 {
  color: red;
}

.movie img {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}
